<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MenuAdmin</servlet-name>
        <servlet-class>Servlets.MenuAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuAdmin</servlet-name>
        <url-pattern>/MenuAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <env-entry> 
        <env-entry-name>conn-string</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>jdbc:sqlserver://ANGEL-PC:50876;databaseName=LCIV_Academia_111610</env-entry-value> 
    </env-entry>
    <env-entry> 
        <env-entry-name>conn-user</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>sa</env-entry-value> 
    </env-entry>
    <env-entry> 
        <env-entry-name>conn-pass</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>tekken5</env-entry-value> 
    </env-entry>
</web-app>
